#wrap{
	width: 100%;
	background-color: #4286f4;
	height: 80px;
}

/*==================================================*/

#header-name{
	position: absolute;
	left: 200px;
	top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#home-nav:hover{
	position: absolute;
	left: 600px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: white;
	background-color: #2161c6;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#home-nav{
	position: absolute;
	left: 600px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	background-color: #4286f4;
	
}

#home-link{
	display: block;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*==================================================*/

#projects-nav:hover{
	position: absolute;
	left: 738px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: white;
	background-color: #2161c6;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#projects-nav{
	position: absolute;
	left: 738px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	background-color: #4286f4;
	
}

#projects-link{
	display: block;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*==================================================*/

#about-nav:hover{
	position: absolute;
	left: 877px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: white;
	background-color: #2161c6;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#about-nav{
	position: absolute;
	left: 877px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	background-color: #4286f4;
	
}

#about-link{
	display: block;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*==================================================*/

#contact-nav:hover{
	position: absolute;
	left: 1015px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: white;
	background-color: #2161c6;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#contact-nav{
	position: absolute;
	left: 1015px;
	top: 0 px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	height: 80px;
	width: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	background-color: #4286f4;
	
}

#contact-link{
	display: block;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*==================================================*/

#body{
	position: absolute;
	left: 470px;
	top: 200px;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	height: 80px;
	width: 30%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: #1a54b2;
	font-weight: bold;
}

#body-des-1{
	position: absolute;
	left: 405px;
	top: 290px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	height: 80px;
	width: 40%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: #454647;
	font-weight: bold; 
}

#body-des-2{
	position: absolute;
	left: 338px;
	top: 330px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	height: 80px;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: #454647;
	font-weight: bold; 
}

/*==================================================*/

#home-body{
	background-image:url("15195894_371086943234953_2368332563774936620_o.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	line-height: 40px;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

/*==================================================*/

#about-heading{
	position: relative;
	width: 100%;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	line-height: 130px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #1a54b2;
	font-weight: bold;
}

#propic{
	width: 100%;
	height: 90px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	
}

#resume{
	width: 100%;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	
}

#about-des{
	width: 100%;
	height: 150px; 
	text-align: center;
	vertical-align: middle;
	font-family: 'Cuprum', sans-serif;
	font-size: 21px;
	color: #76797c;
	padding: 0 250px;
	box-sizing: border-box;
}

/*==================================================*/

form{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 50px 400px;
	box-sizing: border-box;
}

input, textarea{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	
	
}

textarea{
	height: 150px;
	resize: none;
	box-sizing: border-box;
}

/*==================================================*/

body{
	margin: 0;
}

	

